// @media screen and (max-width: 600px) {
//     header{
//         padding: 0;
//     }
// }

/* Extra small devices (phones, <576px) */
@media screen and (max-width: 575.98px) {
//Section
section{
    margin:5rem 10rem;
}
//Controls
.controlls {
    position: fixed;
    z-index: 10;
    top: auto;
    bottom: 1%;
    left: 13%;
    display: flex;
    flex-direction: row;
    height: 4vh;
    }
    .control {
}
//HEADER
header{
    overflow-y: auto;
    padding-bottom: 10vh;
}
.header-content {
    display: grid;
    grid-template-columns: 1fr;
    .left-header {
        padding: 0 20px;
    }
    .right-header{
        // padding-top: 20%;
        // padding-left: 10%;
        // padding-right: 20%;
        // text-align: justify;
    }
}
}

/* Small devices (phones, ≥576px) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {


 }

/* Medium devices (tablets, ≥768px) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {

 }

/* Large devices (desktops, ≥992px) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) {
    
 }
